.container {
  display: grid;
  gap: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
}

@media (min-width: 50rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75rem) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
